body{
  padding-left: 50px;
  padding-right: 50px;
  background: linear-gradient(#733E32, #D99066);
  }
.header{
  background-color: black;
  padding: 50px;
  background-image: url("pompeii-frescoes-house-of-the-mysteries-wall-ft-3.jpg");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: 50% 40%;
}
.landscape{
  height: 300px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  background-position: 50% 60%;
  font-size: 100%;
  text-shadow: 0 0 7px white;
}
.bg{
  background-color: white;
}

.mystyle {
  font-size: 11pt; 
  font-family: Arial;
  border-collapse: collapse; 
  border: 1px solid silver;

}

td, th {
  padding: 5px;
}

tr:nth-child(even) {
  background: #E0E0E0;
}

tr:hover {
  background: silver;
  cursor: pointer;
}