{% block navbar %}
{% include 'base.html' %}
{% endblock navbar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <pre data-executable>print('Hello world!')</pre>
        <script src="static/juniper.min.js"></script>
        <script>
            new Juniper({
                repo: 'pnadelofficial/example_notebooks',
                isolateCells: false
            });
        </script>
    </body>
</html>